/*
 * Env.h
 *
 *  Created on: 30 jul. 2021
 *      Author: isrev
 */

#ifndef ENV_H_
#define ENV_H_

#include "Arduino.h"
#include <Keypad.h>

const char password [] = "1234";
const char telefonoPrincipal[] = "123456789";
const char telefonoLlamada_1[] = "123456789";
const char telefonoLlamada_2[] = "123456789";

//Clave cifrado AES
const char AES_KEY[] = "";
const byte AES_KEY_IV[16]= { 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 };


// Configura los datos de tu red GSM (APN, usuario y pass)
const char apn[] = "internet";
const char gsmUser[] = "";
const char gsmPass[] = "";

// Server details
/*
 * Test GET -> vsh.pp.ua /TinyGSM/logo.txt
 *
 * Test POST -> httpbin.org /post
 *
 */
 
const char serverUrl[]   = "DOMINIO/IP";
const char resource[] = "/api/XXX/XXX/";

const int  portHttp  = 80;
//const int  portHttps = 443;

//SAAS
const char getUltimoPaquete[] = "/api/XXX/XXX/";
const char postEventosJson[] = "/api/XXX/XXX/";
const char postNotificacionJson[] = "/api/XXX/XXX/";
const char postTokenSanctum[] = "/api/sanctum/token?email=XXXX&password=XXX&device_name=XXX";



#endif /* ENV_H_ */
